1. Python program to interchange first and last elements in a list

In [1]:
def swapList(newList):
    size = len(newList)
     
    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
     
    return newList
     
myList = [7, 35, 49, 42, 21]
 
print(swapList(myList))

[21, 35, 49, 42, 7]

2. Maximum of two numbers in Python

In [2]:
def maximum(a, b):
     
    if a >= b:
        return a
    else:
        return b
     
a = 3
b = 7
print(maximum(a, b))

7

3. Reversing a List in Python

In [3]:
def Reverse(lst):
    return [ele for ele in reversed(lst)]
      
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

4. Python program to find smallest number in a list

In [4]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Smallest element is:", *list1[:1])

Smallest element is: 4

In [5]:
list1 = [10, 20, 1, 45, 99]

print("Smallest element is:", min(list1))

Smallest element is: 1

5. Python program to find second largest number in a list

In [ ]:
list1 = [10, 20, 4, 45, 99]
 
mx=max(list1[0],list1[1])
secondmax=min(list1[0],list1[1])
n =len(list1)
for i in range(2,n):
    if list1[i]>mx:
        secondmax=mx
        mx=list1[i]
    elif list1[i]>secondmax and \
        mx != list1[i]:
        secondmax=list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  45

6. Uncommon elements in Lists of List

In [6]:
myList1 = [ [1, 2], [3, 4], [5, 6] ]
myList2 = [ [3, 4], [5, 7], [1, 2] ]
 
print ("The original list 1 : " + str(myList1))
print ("The original list 2 : " + str(myList2))
 
res_list = []
for i in myList1:
    if i not in myList2:
        res_list.append(i)
for i in myList2:
    if i not in myList1:
        res_list.append(i)
         
print ("The uncommon of two lists is : " + str(res_list))

The original list 1 : [[1, 2], [3, 4], [5, 6]]
The original list 2 : [[3, 4], [5, 7], [1, 2]]
The uncommon of two lists is : [[5, 6], [5, 7]]

7. Count unique values inside a list

In [7]:
from collections import Counter
  
  
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
  
items = Counter(input_list).keys()
print("No of unique items in the list are:", len(items))

No of unique items in the list are: 5

8. Python program to print all odd numbers in a range

In [8]:
start, end = 4, 19
  
for num in range(start, end + 1):
      
    if num % 2 != 0:
        print(num, end = " ")

5 7 9 11 13 15 17 19

9. Python program to print positive numbers in a list

In [9]:
list1 = [11, -21, 0, 45, 66, -93]
  
for num in list1:
      
    if num >= 0:
       print(num, end = " ")

11 0 45 66

10. Remove multiple elements from a list in Python (odd)

In [11]:
list1 = [11, 5, 17, 18, 23, 50]

for ele in list1:
    if ele % 2 == 0:
        list1.remove(ele)
 
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23]

11. Test if Substring occurs in specific position

In [ ]:
string = "Ton Duc Thang University"
 
print("The original string is : " + string)
   
i, j = 4, 7
  
substr = "Duc"

# Using loop
flag = True
k = 0
for index in range(len(string)):
    if index >= i  and index < j:
        if string[index] != substr[k]:
            flag = False
            break
        k = k + 1
          
print("Does string contain substring at required position ?")          
print(flag)

The original string is : Ton Duc Thang University
Does string contain substring at required position ?
True

12. Extract words starting with K in String List

In [ ]:
myList = ["You are a doctor", "We are family", "animal world"] 
  
print("The original list is : ", end='')
print(myList)
K = "a"
  
res = []
for sub in myList:
    # splitting phrases
    temp = sub.split()
    for ele in temp:
        if ele[0].lower() == K.lower():
            res.append(ele)
  
# printing result 
print("The filtered elements : ",end='') 
print(res)

The original list is : ['You are a doctor', 'We are family', 'animal world']
The filtered elements : ['are', 'a', 'are', 'animal']

13. Find sum and average of List in Python

In [ ]:
myList = [4, 5, 1, 2, 9, 7, 10, 8]

count = 0
  
for i in myList:
    count += i

avg = count/len(myList)
  
print("sum = ", count)
print("average = ", avg)

sum =  46
average =  5.75

14. Python program to find largest number in a list

In [ ]:
myList = [4, 5, 1, 2, 9, 7, 10, 8]

max = myList[1]

for i in myList:
    if i > max:   max = i

print("Largest element is: ", max)

Largest element is:  10

15. Python program to print all even numbers in a range

In [ ]:
start, end = 7, 21

for i in range(start, end + 1):
    if i % 2 == 0:
        print(i,end=', ')

8, 10, 12, 14, 16, 18, 20,

16. Python program to print duplicates from a list of integers

In [ ]:
myList = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

repeat = []

for i in range(len(myList)):
    for j in range(i+1,len(myList)):
        if myList[i] == myList[j] and myList[i] not in repeat:
            repeat.append(myList[i])
print(repeat)

[20, 30, -20, 60]

17. Python – Reverse Row sort in Lists of List

In [ ]:
myList = [[4, 1, 6], [7, 8], [4, 10, 8]]
  
print ("The original list is : " + str(myList))
  
for ele in myList: 
    ele.sort(reverse = True) 
  
print ("The reverse sorted Matrix is : " + str(myList))

The original list is : [[4, 1, 6], [7, 8], [4, 10, 8]]
The reverse sorted Matrix is : [[6, 4, 1], [8, 7], [10, 8, 4]]

18. Test if List contains elements in Range

In [ ]:
myList = [4, 5, 6, 7, 3, 9, 11]
  
print("The original list is : " + str(myList))

i, j = 3, 10

res = True
for ele in myList:
    if ele < i or ele >= j :
        res = False 
        break
  
print ("Does list contain all elements in range : " + str(res))

The original list is : [4, 5, 6, 7, 3, 9, 11]
Does list contain all elements in range : False

19. Python Program to find all Possible Combinations from the three Digits

In [ ]:
def comb(L):
    output = []
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i!=j and j!=k and i!=k):
                    output.append([L[i], L[j], L[k]])
    for i in output:
        print(i)
                      
comb([1, 2, 3])

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

20. Python program to get all unique combinations of two Lists

In [ ]:
import itertools
from itertools import product
 
list_1 = ["a","b","c"]
list_2 = [1,4,9]
 
unique_combinations = []

unique_combinations = list(list(zip(list_1, element))
                           for element in product(list_2, repeat = len(list_1)))
 
print(unique_combinations)

[[('a', 1), ('b', 1), ('c', 1)], [('a', 1), ('b', 1), ('c', 4)], [('a', 1), ('b', 1), ('c', 9)], [('a', 1), ('b', 4), ('c', 1)], [('a', 1), ('b', 4), ('c', 4)], [('a', 1), ('b', 4), ('c', 9)], [('a', 1), ('b', 9), ('c', 1)], [('a', 1), ('b', 9), ('c', 4)], [('a', 1), ('b', 9), ('c', 9)], [('a', 4), ('b', 1), ('c', 1)], [('a', 4), ('b', 1), ('c', 4)], [('a', 4), ('b', 1), ('c', 9)], [('a', 4), ('b', 4), ('c', 1)], [('a', 4), ('b', 4), ('c', 4)], [('a', 4), ('b', 4), ('c', 9)], [('a', 4), ('b', 9), ('c', 1)], [('a', 4), ('b', 9), ('c', 4)], [('a', 4), ('b', 9), ('c', 9)], [('a', 9), ('b', 1), ('c', 1)], [('a', 9), ('b', 1), ('c', 4)], [('a', 9), ('b', 1), ('c', 9)], [('a', 9), ('b', 4), ('c', 1)], [('a', 9), ('b', 4), ('c', 4)], [('a', 9), ('b', 4), ('c', 9)], [('a', 9), ('b', 9), ('c', 1)], [('a', 9), ('b', 9), ('c', 4)], [('a', 9), ('b', 9), ('c', 9)]]