1. Python program to interchange first and last elements in a list

In [1]:
# Swap function
def swapList(newList):
    size = len(newList)
     
    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
     
    return newList
     
# Driver code
newList = [7, 35, 49, 42, 21]
 
print(swapList(newList))

[21, 35, 49, 42, 7]

2. Maximum of two numbers in Python

In [3]:
def maximum(a, b):
     
    if a >= b:
        return a
    else:
        return b
     
# Driver code
a = 3
b = 7
print(maximum(a, b))

7

3. Reversing a List in Python

In [4]:
# Reversing a list using reversed()
def Reverse(lst):
    return [ele for ele in reversed(lst)]
      
# Driver Code
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

4. Python program to find smallest number in a list

In [5]:
# list of numbers
list1 = [10, 20, 4, 45, 99]
 
# sorting the list
list1.sort()
 
# printing the first element
print("Smallest element is:", *list1[:1])

Smallest element is: 4

In [6]:
# list of numbers
list1 = [10, 20, 1, 45, 99]
 
 
# printing the maximum element
print("Smallest element is:", min(list1))

Smallest element is: 1

5. Python program to find second largest number in a list

In [7]:
list1 = [10, 20, 4, 45, 99]
 
mx=max(list1[0],list1[1])
secondmax=min(list1[0],list1[1])
n =len(list1)
for i in range(2,n):
    if list1[i]>mx:
        secondmax=mx
        mx=list1[i]
    elif list1[i]>secondmax and \
        mx != list1[i]:
        secondmax=list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  45

6. Uncommon elements in Lists of List

In [8]:
# initializing lists
test_list1 = [ [1, 2], [3, 4], [5, 6] ]
test_list2 = [ [3, 4], [5, 7], [1, 2] ]
 
# printing both lists
print ("The original list 1 : " + str(test_list1))
print ("The original list 2 : " + str(test_list2))
 
# using naive method
# Uncommon elements in List
res_list = []
for i in test_list1:
    if i not in test_list2:
        res_list.append(i)
for i in test_list2:
    if i not in test_list1:
        res_list.append(i)
         
# printing the uncommon
print ("The uncommon of two lists is : " + str(res_list))

The original list 1 : [[1, 2], [3, 4], [5, 6]]
The original list 2 : [[3, 4], [5, 7], [1, 2]]
The uncommon of two lists is : [[5, 6], [5, 7]]

7. Count unique values inside a list

In [10]:
from collections import Counter
  
  
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
  
# creating a list with the keys
items = Counter(input_list).keys()
print("No of unique items in the list are:", len(items))

No of unique items in the list are: 5

8. Python program to print all odd numbers in a range

In [11]:
start, end = 4, 19
  
# iterating each number in list
for num in range(start, end + 1):
      
    # checking condition
    if num % 2 != 0:
        print(num, end = " ")

5 7 9 11 13 15 17 19

9. Python program to print positive numbers in a list

In [12]:
# list of numbers
list1 = [11, -21, 0, 45, 66, -93]
  
# iterating each number in list
for num in list1:
      
    # checking condition
    if num >= 0:
       print(num, end = " ")

11 0 45 66

10. Remove multiple elements from a list in Python (odd)

In [13]:
# creating a list
list1 = [11, 5, 17, 18, 23, 50]
 
# Iterate each element in list
# and add them in variable total
for ele in list1:
    if ele % 2 == 0:
        list1.remove(ele)
 
# printing modified list
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23]